<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Linguagens</p>
      <p class="title">3,456</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Ferramentas</p>
      <p class="title">123</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Frameworks</p>
      <p class="title">456K</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Banco de Dados</p>
      <p class="title">789</p>
    </div>
  </div>
</nav>