<div class="modal is-active"  *ngIf="showModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Avaliar Tecnologia</p>
      <button class="delete" (click)="fecharModal()"></button>
    </header>
    <section class="modal-card-body">
      <!-- Ini Content ... -->
      <label class="label">Tecnologia</label>
      <p class="control">
        <input class="input" type="text" placeholder="Text input" [(ngModel)]="data.tecnologia">
      </p>
      <label class="label">Categoria</label>
      <p class="control">
        <span class="select">
          <select [(ngModel)]="data.idCategoria">
              <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">{{categoria.nome}}</option>
          </select>
        </span>
      </p>
      <p class="control">
        <label class="radio" *ngFor="let nivel of niveis"><input type="radio" name="nivel"  [(ngModel)]="data.nivel" value="{{nivel.id}}" >{{nivel.nome}}</label>
      </p>
      <label class="label">Ícone</label>
      <p class="control">
        <input class="input" type="text" placeholder="Text input" [(ngModel)]="data.iconeUrl">
      </p>
      <!-- Fim Content ... -->
    </section>
    <footer class="modal-card-foot">
      <a class="button is-success" (click)="adicionarTecnologia()">Save changes</a>
      <a class="button" (click)="fecharModal()">Cancel</a>
    </footer>
  </div>
</div>