<div class="container">
    <div class="row">
        <div class="span12">
            <form>
                <div class="input-append span12">
                    <input type="text" class="search-query" placeholder="Search" [(ngModel)]="txtPesquisa" name="txtPesquisa">
                    <button (click)="pesquisar()" class="btn">Pesquisar<i class="icon-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
<div *ngIf="mostrarResultado">
    <ul>
        <li *ngFor="let colaborador of data">
            <a href="/perfil/{{colaborador.id}}">{{colaborador.nome}}</a>            
            <span *ngFor="let tecnologia of colaborador.tecnologias">
                <img class="img-tecnology-badge" src="{{tecnologia.icone}}" alt="{{tecnologia.nome}}"/>
                <span>{{tecnologia.nivel}}</span>
                <span>{{tecnologia.nivelPorExtenso}}</span>
            </span>
        </li>
    </ul>
</div>