<hr>
<div class="container">
  <div class="columns">
    <div class="column is-3">
      <div class="panel">
        <div class="panel">
          <p class="is-marginless">
            <img class="img-circle" src="https://placehold.it/150x150">
          </p>
        </div>
      </div>
      <div class="panel">
        <div class="columns">
          <div class="column">
            <div class="panel-block-item">Fulano de Tal</div>
          </div>
        </div>
      </div>

      <div class="panel">
        <div class="columns">
          <div class="column has-text-left">
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>