<hr>
<div class="container">
  <div class="columns">
    <div class="column is-3" *ngFor="let colaborador of listaColaboradores">
      <div class="panel">
        <div class="panel">
          <p class="is-marginless">
            <img class="img-circle" src="https://placehold.it/150x150">
          </p>
        </div>
      </div>
      <div class="panel">
        <div class="columns">
          <div class="column">
            <div class="panel-block-item">{{colaborador.nome}}</div>
          </div>
        </div>
        <div class="columns">
          <div class="column has-text-left" *ngFor="let tecnologia of colaborador.tecnologias">
            <img class="img-circle tecnologia" src="{{tecnologia.icone}}" alt="{{tecnologia.nome}}" />
            <i class="fa">{{tecnologia.nivel}} - {{tecnologia.nivelPorExtenso}}</i>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>