/* You can add global styles to this file, and also import other style files */
.img-circle{
    border-radius: 50%;
}

.nav-perfil{
    max-height: 45px;
    max-width: 45px;
}

.tecnologia{
    max-height: 45px;
    max-width: 45px;
}